.pagedivider {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  gap: 2%;
}

.leftsection {
  width: 70%;
}

.rightsection {
  width: 25%;
}

.headercontainer {
  display: flex;
  justify-content: space-between;
}

.titlelabelcontainer {
}

.cartactioncontainer {
  display: flex;
  align-items: center;
}

@mixin buttondefault {
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-stretch: condensed;
  letter-spacing: 1px;
  margin: 0;
  padding: 8px 1em;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  vertical-align: middle;
}

.noborderbutton {
  @include buttondefault();
  background-color: transparent;
  border: transparent;
}

.buttonlabel {
  font-size: 15px;
  margin-left: 5px;
}

.cartproductcontainer {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cartproductcontainerleftside {
  width: 20%;
  max-width: 20%;
}

.cartproductimagecontainer {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.cartproductimage {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.cartproductcontainerrightside {
  width: 75%;
}

.cartproductinformationcontainer {
  width: 60%;
  max-width: 60%;
  min-width: 60%;
}

.iteminfo {
}

.itemname {
  width: 100%;

  text-overflow: ellipsis;
  max-height: 20%;
  overflow: hidden;
  white-space: nowrap;
}

.itemshop {
  width: 100%;
}

.cartquantityformcontainer {
  width: fit-content;
}

.producttotalpricecontainer {
}

.upperpart {
  height: 33%;
  max-height: 33%;
  width: 100%;
  display: flex;
  column-gap: 10%;
}

.middlepart {
  height: 33%;
  max-height: 33%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cartsummarycontainer {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

@mixin spacebetween() {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.totalitemcontainer {
  @include spacebetween();
}

.estimateddeliverycontainer {
  @include spacebetween();
}

.labelnopadding {
  padding: 0;
  margin: 0;
}

.horizontalline {
  width: 100%;
}

.estimatedtotalcontainer {
  @include spacebetween();
}

.checkoutbutton {
  @include buttondefault();
  background-color: rgba(var(--accent-rgb));
  color: black;
  font-weight: bold;
}
