@mixin buttondefault {
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-stretch: condensed;
  letter-spacing: 1px;
  margin: 0;
  padding: 8px 1em;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  vertical-align: middle;
}

.noborderbutton {
  @include buttondefault();
  background-color: transparent;
  border: transparent;
  min-width: fit-content;
}
.pagedivider {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  gap: 2%;
}

.cartsection {
  width: 75%;
}

.rightsection {
  width: 20%;
}

.headercontainer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.editshoppingcartbutton {
  @include buttondefault();
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  font-weight: bold;
  height: fit-content;
}

.titlelabelcontainer {
  display: flex;
  // width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cartactioncontainer {
  display: flex;
  align-items: center;
}

.buttonlabel {
  font-size: 15px;
  margin-left: 5px;
}

.cartproductcontainer {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cartproductcontainerleftside {
  width: 20%;
  max-width: 20%;
}

.cartproductimagecontainer {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.cartproductimage {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.cartproductcontainerrightside {
  width: 75%;
}

.cartproductinformationcontainer {
  width: 60%;
  max-width: 60%;
  min-width: 60%;
}

.iteminfo {
}

.itemname {
  width: 100%;

  text-overflow: ellipsis;
  max-height: 20%;
  overflow: hidden;
  white-space: nowrap;
}

.itemshop {
  width: 100%;
}

.cartquantityformcontainer {
  width: fit-content;
}

.producttotalpricecontainer {
}

.upperpart {
  height: 33%;
  max-height: 33%;
  width: 100%;
  display: flex;
  column-gap: 10%;
}

.middlepart {
  height: 33%;
  max-height: 33%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cartsummarycontainer {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

@mixin spacebetween() {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.totalitemcontainer {
  @include spacebetween();
}

.estimateddeliverycontainer {
  @include spacebetween();
}

.labelnopadding {
  padding: 0;
  margin: 0;
}

.horizontalline {
  width: 100%;
}

.estimatedtotalcontainer {
  @include spacebetween();
}

.checkoutbutton {
  @include buttondefault();
  background-color: rgba(var(--accent-rgb));
  color: black;
  font-weight: bold;
}

.checkoutcontainer {
  width: 75%;
}

.shippingoutercontainer {
  padding: 30px;
  background-color: rgb(var(--background-end-rgb));
}

.headercontainer {
  text-transform: uppercase;
  font-weight: bold;
}

.locationselectioncontainer {
  padding: 40px;
  background-color: rgb(var(--background-start-rgb));
}

.shippinginnercontainer {
  padding: 20px;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
}

.shipbutton {
  @include buttondefault();

  background-color: transparent;
  border: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid rgba(var(--accent-rgb));
  align-items: center;
  display: flex;
  column-gap: 5px;
}

.deliveryselection {
  @include buttondefault();

  background-color: transparent;
  border: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid white;
  align-items: center;
  display: flex;
  column-gap: 50px;
}

.deliveryselected {
  border: 1px solid rgba(var(--accent-rgb));
}

.highlightaccent {
  color: rgba(var(--accent-rgb));
}

.addnewaddressbutton {
  @include buttondefault();
  width: fit-content;
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
  font-weight: bold;
}

.addresscardcontainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
}

.alignendcontainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.partitioningline {
  display: none;
}

@media (max-width: 1220px) {
  .cartsection {
    width: 70%;
  }
  .rightsection {
    width: 28%;
  }
}

@media (max-width: 1000px) {
  .cartsection {
    width: 100%;
  }
  .rightsection {
    width: 100%;
  }
  .partitioningline {
    display: block;
  }

  .rightsection {
    margin-top: 50px;
  }

  .cartproductinformationcontainer {
    max-width: 50%;
    width: 50%;
    min-width: 0%;
  }
  .iteminfo {
    max-width: 50%;
    width: 50%;
    min-width: 0%;
  }

  .cartproductcontainerrightside {
    display: flex;
    flex-direction: column;
    row-gap: 40%;
  }
  .checkoutcontainer {
    width: 100%;
    max-width: 100%;
  }
  .shippingoutercontainer {
    max-width: 100%;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .containertitle {
    margin-left: 20px;
  }
  .addresscardcontainer {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .cartproductcontainer {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 145px;
    // column-gap: 10px;
  }
  .cartproductinformationcontainer {
    width: 100%;
    min-width: 100%;
  }
  .iteminfo {
    width: 100%;
    min-width: 100%;
  }
  .cartproductcontainerrightside {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0;
    width: 60%;
  }
  .upperpart {
    height: 50%;
    max-height: 50%;
    min-width: 100%;
    flex-wrap: wrap;
    column-gap: 0;
  }

  .pagedivider {
    padding: 10px;
  }
  .producttotalpricecontainer {
    display: flex;
    margin-left: 100px;
    align-items: center;
  }

  .cartproductcontainerleftside {
    max-width: 30%;
    width: 30%;
  }
  .cartquantityformcontainer {
    display: flex;
    align-items: center;
  }

  .headercontainer {
    display: flex;
    flex-wrap: wrap;
  }

  .cartactioncontainer {
    // width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .middlepart {
    // justify-content: flex-end;
  }

  .cartproductimagecontainer {
    min-height: 100%;
  }

  .deliveryselection {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .deliveryselectioncontainer {
    flex-direction: column;
    row-gap: 20px;
  }
}
