.modalbackground {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: default;
}

.modalcontainer {
  background-color: rgba(var(--foreground-lighter-rgb), $alpha: 1);
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  cursor: default;
}

.closebutton {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  color: lightgrey;
}

.closebutton:hover {
  cursor: pointer;
}

@media (max-width: 950px) {
  .modalcontainer {
    width: 50vw !important;
  }
}

@media (max-width: 501px) {
  .modalcontainer {
    width: 70vw !important;
  }
}
