@mixin cardstyle($bgcolor, $maxwidth, $padding, $height, $width) {
  background-color: $bgcolor;
  max-width: $maxwidth;
  width: $width;
  height: $height;
  max-height: $height;
  padding: $padding;
}

.productcard {
  @include cardstyle(rgb(var(--foreground-lighter-rgb)), 20%, 2.3%, 300px, 28%);
  margin-top: 10px;
}

.productcardimage {
  height: 70%;
  max-height: 70%;
  width: 100%;
  max-width: 100%;

  object-fit: cover;
}

.productcardimage:hover {
  cursor: pointer;
}

.productcarddetailname {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  max-width: 100%;
  max-height: 100%;
}
.productcarddetailname:hover {
  text-decoration: underline;
  cursor: pointer;
}
