@mixin nogap {
  margin: 0;
  padding: 0;
}

@mixin paddinghorizontal($left, $right) {
  padding-left: $left;
  padding-right: $right;
}

@mixin paddingvertical($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

.appcontainer {
  border: 0;
  outline: 0;
  @include nogap();
}

.appnavcontainer {
  border-bottom: 1px solid #333 !important;
  border-color: #555;
}

.listcontainer {
  display: flex;
  @include paddinghorizontal(30px, 30px);
  @include paddingvertical(50px, 0px);
  column-gap: 40px;
}

.wishlistlabelcontainer {
  @include nogap();
}

.wishlistlabel {
  color: #e3e3e3 !important;
  border-color: #e3e3e3 !important;

  border-bottom: 5px solid #3b4a65;
  box-sizing: border-box;

  display: block;
  font: 700 24px/32px Open Sans Condensed, Helvetica Narrow, arial, helvetica,
    sans-serif;
  letter-spacing: 1px;
  max-width: 500px;
  text-transform: uppercase;
  @include nogap();
}

.listnavcontainer {
  display: flex;
  align-items: center;
}

.navtabcell {
  border: 1px solid #ccc;
  border-bottom: 0;
  cursor: pointer;
  display: block;
  background-color: rgb(var(--background-end-rgb));
  font-size: 13px;
  // height: 35px;
  line-height: 35px;
  margin-left: -1px;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 1px;
  z-index: 1;
}

.activetabcell {
  background-color: rgb(var(--background-start-rgb));
}

.mylistoutercontainer {
  padding: 40px 20px;
}

.listbuttoncontainer {
  display: flex;
  column-gap: 15px;
}

.lightbutton {
  background: #e6e6e6;
  border-color: #a9a9a9;
  color: rgb(var(--background-start-rgb));
  font-size: 12px;
  padding: 6px 0.85em;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

.lightbutton:hover {
  background-color: #afafaf;
}

.mylistmodalcontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.mylistcreatelistlabel {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

.mylistnamecontainer {
}

.mylistprivacycontainer {
}

.buttoncontainer {
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
}

.selectedbutton {
  border-bottom: 4px solid !important;
  border-bottom-color: #cc4a00 !important;
}

.selectionbutton {
  background: rgb(var(--background-end-rgb));
  border: 0px;
  color: rgb(var(--foreground-rgb));
  font-size: 12px;
  padding: 6px 0.85em;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.selectionbutton:hover {
  border-bottom: 4px solid !important;
  border-bottom-color: #cc4a00 !important;
}

.submitbutton {
  align-self: flex-end;
  background: rgb(var(--accent-rgb));
  color: rgb(var(--background-end-rgb));
  font-weight: bold;
  border: 0;
  padding: 7px;
  border-radius: 2px;
  cursor: pointer;
}

.inputfield {
  margin-top: 10px;
  width: 100%;
  border-radius: 3px;
  @include paddingvertical(10px, 10px);
  @include paddinghorizontal(5px, 0px);
  vertical-align: middle;
  appearance: none;
  box-sizing: border-box;
  font-size: 15px;
}

.submitcontainer {
  display: flex;
  justify-content: space-between;
}

.mylistcontainer {
  // width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
}
